.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
}
.card {
  height: 600px;
  width: 600px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}
.heading {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.description {
  font-size: 1.5rem;
  color: #333333;
  font-weight: 300;
}
.button {
  width: 140px;
  height: 50px;
  border-width: 0px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  background-color: #0b69ff;
  color: #ffffff;
}
.RandomNumber {
  font-size: 4rem;
  color: #333333;
  font-weight: 900;
}
